@model IEnumerable<Mobile>
@{
    ViewData["Title"] = "Mobile phones";
}


<h2>Here is your mobile list</h2>
<div class="row">
    <div class="col-md-4">
        <table class="table table-condensed table-striped table-bordered">
            <thead>
                <tr><td class="text-uppercase">Mobile Name</td></tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td><td>@Html.ActionLink("Update", "Update", "Home", new { name=item.Name })</td><td>@Html.ActionLink("Delete", "Delete", "Home", new { name = item.Name })</td>
                </tr>
            }
            </tbody>
        </table>
        <br />
        
        <a href="Home/Create" class="btn btn-primary" role="button">Create</a>

    </div>
   
   
   
</div>
